<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kms.test.mappers.ImageMapper">
    <insert id="insertImage" useGeneratedKeys="true" keyColumn="index" keyProperty="index"
            parameterType="com.kms.test.entities.ImageEntity">
        INSERT INTO `test`.`image` (`data`, `content_type`, `name`, `created_at`)
        VALUES (#{data}, #{contentType}, #{name}, NOW())
    </insert>

    <select id="selectImageByIndex" resultType="com.kms.test.entities.ImageEntity">
        SELECT `index` AS `index`,
        `data` AS `data`,
        `content_type` AS `contentType`,
        `name` AS `name`,
        `created_at` AS `createdAt`
        FROM `test`.`image`
        WHERE `index` = #{index}
        LIMIT 1
    </select>
</mapper>