<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kms.test.mappers.InquiryMapper">
    <insert id="insertInquiry" parameterType="com.kms.test.entities.InquiryEntity">
        INSERT INTO `test`.`inquiry` (`writer`, `title`, `content`, `status`, `created_at`, `updated_at`, `deleted_at`, `product_Id`)
        VALUES (#{writer}, #{title}, #{content}, #{status}, #{createdAt}, #{updatedAt}, #{deletedAt}, #{productId})
    </insert>

    <select id="selectAllInquiries" resultType="com.kms.test.entities.InquiryEntity">
        SELECT *
        FROM `test`.`inquiry`
        ORDER BY created_at DESC;
    </select>

    <select id="countInquiries" resultType="_int">
        SELECT COUNT(*)
        FROM `test`.`inquiry`
    </select>

    <select id="selectInquiriesByPage" resultType="com.kms.test.entities.InquiryEntity">
        SELECT *
        FROM `test`.`inquiry`
        ORDER BY `created_at` DESC
        LIMIT #{limitCount} OFFSET #{offsetCount}
    </select>

    <update id="updateInquiry" parameterType="com.kms.test.entities.InquiryEntity">
        UPDATE `test`.`inquiry`
        SET `title` = #{title}, `content` = #{content}, `updated_at` = NOW()
        WHERE `index` = #{index}
    </update>

    <delete id="deleteInquiry" parameterType="_int">
        DELETE FROM `test`.`inquiry`
        WHERE `index` = #{inquiryId}
    </delete>

    <select id="selectInquiriesByProductId" resultType="com.kms.test.entities.InquiryEntity">
        SELECT *
        FROM `test`.`inquiry`
        WHERE `product_id` = #{productId}  <!-- 상품 ID 기준으로 필터링 -->
        ORDER BY `created_at` DESC
        LIMIT #{limitCount} OFFSET #{offsetCount}
    </select>

    <select id="countInquiriesByProductId" resultType="_int">
        SELECT COUNT(*)
        FROM `test`.`inquiry`
        WHERE `product_id` = #{productId}  <!-- 상품 ID 기준으로 필터링 -->
    </select>

</mapper>